<main class="red lighten-1">
    <div class="container grey-text text-lighten-3">
        <br>
        <div class="center-align"><i class="large material-icons">stars</i></div>
        <h2 class="center-align">GameSpot.</h2>
        <h4 class="center-align">Find your perfect short form game to play. Now.</h4>
        <br>
        <nav>
            <div class="nav-wrapper red lighten-3">
                <form>
                    <div class="input-field">
                        <input id="search" type="search" onkeyup="myFunction()" placeholder="Search for games..." required>
                        <label class="label-icon" for="search"><i class="material-icons">search</i></label>
                    </div>
                </form>
            </div>
        </nav>

        <ul class="collapsible grey-text text-darken-4" data-collapsible="accordion" id="myUL">
            {{#each improvs}}
                <li>
                    <div class="collapsible-header">
                    <form action="/gamespot/{{this.game_id}}?_method=PUT" method="POST">
                        <i class="material-icons">stars</i>
                        <span>{{this.game_name}}</span>
                        <span class="right"><i class="material-icons yellow-text text-accent-4">star</i>{{this.avg_rating}}</span>
                    </form>
                    </div>
                    
                    <div class="collapsible-body grey lighten-3">
                    <form action="/gamespot/{{this.game_id}}?_method=PUT" method="POST">
                        <span class="chip red lighten-4">{{this.category}}</span>
                        <span class="chip green lighten-4">{{this.min_players}} - {{this.max_players}} players</span>
                        <p>{{this.instructions}}</p>
                        </form>
                        <br>
                        <a href="#">COMMENT AND REVIEW</a>
                        <a class="right" href="#" onclick="Materialize.toast('Savsies!', 1000)">SAVE TO FAVORITES</a>
                    </div>
                </li>
            {{/each}}
        </ul>
</main>